<div class="center all-text">
	<p class="tk-chaparral-pro lighter"><strong>Bo•keh</strong> <i>noun</i> the visual quality of the out-of-focus areas of a photographic image, especially as rendered by a particular lens.</p>
	<p>Bokehhh, on the other hand, is a place to share your hipster photos.  Bokeh is in fashion, there's no denying it.  Next time you're out on your fixed-gear, shooting your Fuji Film X100S, I can damn well guarantee you'll be taking macro photos of your all organic latte.  This is the place to post that photo.  So meta.</p>
</div>